
.ant-checkbox-wrapper span{color:rgba(255, 255, 255, 0.754) ;}
/**rev-rate*/

.navbar-section{z-index: 50000;}


.a {
  color: #000;
}
.login-button {
  background-color: transparent;
  margin-left: 3px;
  border: 1px solid rgb(11, 11, 87);
  color: rgb(11, 11, 87);
}
.login-button:hover {
  border: 2px solid blue;
}
.signup-button {
  color: white;
  background-color: rgb(11, 11, 87);
}
nav {
  
  position: fixed;
  z-index: 1999999;
  top: 0;
}

.link-btn {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*:where(.css-dev-only-do-not-override-djtmh8).ant-rate{z-index: -20;}/***/

:where(.css-dev-only-do-not-override-pr0fja).ant-input {
  padding: 0;
}
:where(.css-dev-only-do-not-override-pr0fja).ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button:not(.ant-btn-primary) {
  height: 24px;
  width: 32px;
}

.input {
  width: 170px;
  height: 5px;
  margin: 0;
  margin-top: -15px;
}

.rev-logo {
  font-size: 14px;
}

/*


.img-logo {
  width: 230px;
  height: 230px;
}
*/

.menu {
  display: block;
  color: white;
  font-size: 25px;
  cursor: pointer;
}
.nav-btn {
  display: none;
}
.newlogo {
  height: 50px;
  width: 150px;
  margin-top: 10px;
}
.end-nav-list {
  width: 170px;
}
.mid-nav-list,
.end-nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mid-nav-list li {
  padding: 0 20px;
}
.nav-search-box {
  width: 370px;
  height: 32px;
  font-size: 16px;
  outline: none;
  border-radius: 0 5px 5px 0;
  border: 1px solid rgb(69, 67, 67);
  padding: 10px;
}
.list-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon {
  font-size: 21px;
  margin-top: 4px;
}
.search-icon-cat {
  border: 2px solid #232c59;
  height: 32px;
  padding-left: 5px;
  border-radius: 5px 0 0 5px;
  background-color: #232c59;
  color: white;
}

.sign-in-btn {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(11, 11, 87);
  color: white;
  border: none;
}

.submenu.show {
  display: block;

  opacity: 1;
}
.submenu {
  background: white;
  box-shadow: var(--dark-shadow);
  position: absolute;
  position: fixed;

  left: 50%;
  transform: translateX(-50%);

  display: none;
  padding: 2rem;
  border-radius: var(--radius);
  transition: var(--transition);

  color: #000;
  border-radius: 5px;
  margin-top: 0.3%;

  top: 100%;
  z-index: 9998;
}

.submenu-center {
  display: grid;
  gap: 2rem 2rem;
}
.submenu-center a {
  width: 210px;
  display: block;
  color: black;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 20px;
  color: inherit;
  text-align: left;
  line-height: 24px;
}
.icon-image {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}
.icon-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-1 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 20px;
  color: inherit;
  text-align: left;
  line-height: 24px;
}

.submenu-center svg {
  color: var(--clr-grey-5);
  margin-right: 1rem;
}
.submenu::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  position: absolute;

  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.col-4 {
  grid-template-columns: repeat(4, 1fr);
}
aside {
  font-size: 12px;
}
.sub-page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.feature-article {
  width: 400px;
}
.feature-submenu {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.feature-center {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.feature-image {
  width: 200px;
  height: 100px;
}
.feature-item {
  margin: 10px 0;
}
.feature-title {
  margin-top: 10px;
  color: #232c59;
}
.feature-btn {
  padding: 7px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  background-color: #232c59;
  color: white;
  padding: 10px;
}
.hero-page {
  position: relative;
}
.hero-image,
.overlay {
  height: 650px;
  width: 100%;
  position: absolute;
}
.overlay {
  background-color: rgba(13, 13, 13, 0.955);
}

.intro-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-heading {
  font-size: 80px;
  font-weight: 600;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  text-transform: uppercase !important;

background-image: radial-gradient(circle, gold, #0000ff);
  color: transparent;
  background-clip: text;
}
.intro-heading1 {
  color: white;
  font-weight: 900;
}
.intro-container {
  /*background-color: rgba(0, 0, 0, 0.688);*/
  position: absolute;
  width: 5ovw;
  height: 50vh;

  top: 30%;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.overlay-btn {
  background-color: #232c59;
  padding: 20px 40px;
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 20px;
  transition: all 0.25s ease-in-out;
}
.overlay-btn:hover {
  
  
}

.overlay-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  width: 100%;
  height: 10vh;
  /*  background-color: rgb(11, 11, 87);*/
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid gainsboro;
}
.nav-search {
  outline: none;
  width: 35%;
  height: 6vh;
  border-radius: 20px;
}

.hh {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.logo {
  color: white;
  font-weight: 40;
  cursor: pointer;
}

.images-container {
  height: 500px;
  width: 500px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container {
  height: 500px;
  width: 500px;
  margin: 20px;
}

/*..............................................Footer.......................................................................*/
.footer-article {
  background: #232c5976;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 300px;
  margin-top: 20px;
}
.footer-article h4 {
  font-size: 12px;
  padding: 2px;
  margin: 0;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 400px;
  margin-top: 50px;
}
.footer-links li {
  font-size: 10px;
}
.divider {
  background: white;
  width: 1px;
  height: 150px;
  margin-top: -200px;
}

.contactlink-container {
  display: flex;
  padding: 40px 0;
}
.contact-img {
  width: 100%;
  height: 100%;
}

.contact-article {
  background: rgb(158, 151, 151);
  color: aliceblue;
  padding: 30px;
}
.contact-article p {
  color: white;
}

.footer-foot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #232c5976;
  color: white;
}
.footer-logo {
  height: 200px;
  width: 200px;
}
.footer-foot p {
  padding: 0;
  margin: 0;
  font-size: 10px;
  margin-top: -30px;
}
.footer p {
  font-size: 10px !important;
}
.footer h4 {
  font-size: 10px !important;
}

@media screen and (min-width: 300px) and(max-width: 700px) {
  /**
  .rev-logo {
    font-size: 14px;
  }
    .input {
    width: 170px;
    height: 5px;
    margin: 0;
    margin-top: -15px;
  }
  */

  .menu {
    display: block;
  }
  nav {
  }
  :where(.css-dev-only-do-not-override-pr0fja).ant-input {
    padding: 0;
  }
  :where(.css-dev-only-do-not-override-pr0fja).ant-input-search
    > .ant-input-group
    > .ant-input-group-addon:last-child
    .ant-input-search-button:not(.ant-btn-primary) {
    height: 24px;
    width: 32px;
  }

  .nav-btn {
    display: none;
  }

  .login-button {
    background-color: transparent;
    margin-left: 3px;
    border: 1px solid rgb(11, 11, 87);
    color: rgb(11, 11, 87);
  }
  .login-button:hover {
    border: 2px solid blue;
  }
  .signup-button {
    color: white;
    background-color: rgb(11, 11, 87);
  }
}

@media screen and (min-width: 800px) {
  .nav-btn {
    width: 12%;
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
  }
  .menu {
    display: none;
  }
  .input {
    width: 35%;
  }
  nav {
  }
  :where(.css-dev-only-do-not-override-pr0fja).ant-input {
    padding: 5px;
  }
  :where(.css-dev-only-do-not-override-pr0fja).ant-input-search
    > .ant-input-group
    > .ant-input-group-addon:last-child
    .ant-input-search-button:not(.ant-btn-primary) {
    height: 34px;
    width: 32px;
  }
  .login-button {
    background-color: transparent;
    margin-left: 3px;
    border: 1px solid blue;
    color: white;
  }
  .login-button:hover {
    border: 2px solid blue;
  }
  .signup-button {
    color: rgb(11, 11, 87);
    background-color: white;
  }
}

/*.................................................Search result..............................................................................................................................*/
.search-result-container {

width: 500px;

  background-color: white;
  position: absolute;
 
  z-index: 10000;
  border-radius: 5px;
  padding:20px;
  
  left: 20%;
  transition: all 1s ease-in-out;


   position: fixed;
    margin-top:70px;


  /*
  
  
  
  */ 


  /*
 background: white;
  box-shadow: var(--dark-shadow);
  position: absolute;
  position: fixed;

  left: 20%;
  transform: translateX(-50%);

  padding: 2rem;
  border-radius: var(--radius);
  transition: var(--transition);

  color: #000;
  border-radius: 5px;
  margin-top: 0.3%;

  top: 100%;
  z-index: 9998;
*/






}

.not-searching {
  display: none;
}

.search-result-container-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.search-result-container h5{margin: 0;
  padding: 0;}


.search-result-container h6 {
  margin: 0;
  padding:0;
}
.search-result-div {
  cursor: pointer;
  background-color: white;
  padding:10px;
  margin: 3px 0;
}
.search-result-div:hover {
  background-color: gainsboro;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  
}
.search-result-heading {
  color: black;
  padding: 0;
  margin: 5px 0;
  font-size: 16px;
}
