.recommend-img {
  height: 200px;
  width: 200px;
}

.recommend-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  padding: 5px;
}
.recommend-container {
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  flex-direction: column;
  border-radius: 10px;
}

.slider-div {
  width: 95%;
}

@media screen and (min-width: 300px) {
  .recommend-img {
    height: 100px;
    width: 100px;
  }

  .recommend-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: scroll;
  }
  .recommend-container {
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    border-radius: 10px;
  }

  .slider-div {
    width: 95%;
    overflow: hidden;
  }
  li{list-style: none;}
}

@media screen and (min-width: 800px) {
  .recommend-img {
    height: 200px;
    width: 200px;
  }
}
